.container-offers{
    display: flex;
    text-align: justify;
    text-align: left;

}


.container-offers ul{
    list-style-type: none;
    margin: 5px;
    background-color: rgb(248, 246, 246);
    box-shadow: 5px 5px 10px rgb(216, 216, 216);
    border-radius: 10px;
}

.container-offers li{

}