.card-body-mission {
  position: relative;
  overflow: hidden;
  height: 410px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // display: flex;
  // align-items: center;
  padding-bottom: 5px;
  border-radius: 6px;
  box-shadow: 5px 5px 5px rgba($color: gray, $alpha: 0.4);
}

.card-body img {
  object-fit: cover;
}

.card-info h4{
  padding: 5px;
}
.card-info h6{
  padding: 5px;
}
.mission{
  margin-bottom: 8px;
}
.card-img-top{
  height: 200px;
}
.col-3{
  padding: 16px 8px 16px 8px;
}
